{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="ui small breadcrumb">
    <a href="{% url 'admin:index' %}" class="section">{% trans 'Home' %}</a>
    <i class="right angle icon divider"></i>
    {{title}}
</div>
{% endblock %}

{% block content %}
<h2 class="ui center aligned icon header">
    <i class="thumbs outline up icon"></i>
    <div class="content">{% trans "Thank you very much" %} <div class="sub header">{% trans "Thanks for spending some quality time with the Web site today." %}</div>
</div>
</h2>
<p class="ui center aligned vertical very basic segment"><a href="{% url 'admin:index' %}">{% trans 'Log in again' %}</a></p>
{% endblock %}
