{% extends "admin/base_site.html" %}
{% load i18n admin_static errorlist placehold %}
{% block extrastyle %}{{ block.super }}{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}

{% block content %}<div id="content-main">
<p class="ui attached message">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<form action="" class="ui form" method="post">{% csrf_token %}
    <div class="ui attached fluid segment">
        {% if form.errors %}
        <p class="ui error message">
            <i class="warning sign icon"></i>
            {% if form.errors.items|length == 1 %}
            {% trans "Please correct the error below." %}
            {% else %}
            {% trans "Please correct the errors below." %}
            {% endif %}
        </p>
        {% endif %}
        <div class="field {{form.old_password.css_classes}} {% if form.old_password.errors %}error{% endif %}">
            {{ form.old_password.label_tag }} 
            {{ form.old_password|help_text_as_placeholder }}
            {{ form.old_password.errors|as_pointing_label }}
        </div>
        <div class="field {{form.new_password1.css_classes}} {% if form.new_password1.errors %}error{% endif %}">
            {{ form.new_password1.label_tag }} 
            {{ form.new_password1|help_text_as_placeholder }}
            {{ form.new_password1.errors|as_pointing_label }}
        </div>
        <div class="field {{form.new_password2.css_classes}} {% if form.new_password2.errors %}error{% endif %}">
            {{ form.new_password2.label_tag }} 
            {{ form.new_password2|help_text_as_placeholder }}
            {{ form.new_password2.errors|as_pointing_label }}
        </div>
    </div>
    <div class="ui vertical very basic segment">
        <input type="submit" value="{% trans 'Change my password' %}" class="ui green button" />
    </div>
    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>
</div>
{% endblock %}
