{% extends "admin/base_site.html" %}
{% load i18n errorlist %}

{% block breadcrumbs %}
<div class="ui small breadcrumb">
    <a href="{% url 'admin:index' %}" class="section">{% trans 'Home' %}</a>
    <i class="right angle icon divider"></i>
    {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block content %}
<div class="ui two column centered grid">
    <div class="column">
        {% if validlink %}
        <p class="ui info message">
            <i class="info icon"></i> 
            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>
        <div class="ui segment">
            <form class="ui form" action="" method="post">{% csrf_token %}
                <div class="field required {% if form.new_password1.errors %}error{% endif %}">
                    <label for="id_new_password1">{% trans 'New password:' %}</label>
                    {{ form.new_password1|help_text_as_placeholder }}
                    {{ form.new_password1.errors|as_pointing_label }}
                </div>
                <div class="field required {% if form.new_password2.errors %}error{% endif %}">
                    <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                    {{ form.new_password2|help_text_as_placeholder }}
                    {{ form.new_password2.errors|as_pointing_label }}
                </div>
                <input class="ui green button" type="submit" value="{% trans 'Change my password' %}" />
            </form>
        </div>
        {% else %}
        <p class="ui negative message"><i class="warning sign icon"></i> {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
