{% extends "admin/base_site.html" %}
{% load i18n errorlist placehold %}

{% block breadcrumbs %}
<div class="ui small breadcrumb">
    <a href="{% url 'admin:index' %}" class="section">{% trans 'Home' %}</a>
    <i class="right angle icon divider"></i>
    {% trans 'Password reset' %}
</div>
{% endblock %}

{% block content %}
<div class="ui two column centered grid">
    <div class="column">
        <p class="ui info message"><i class="info icon"></i> {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        <div class="ui segment">
            <form class="ui form" action="" method="post">{% csrf_token %}
                <div class="field required {% if form.email.errors %}error{% endif %}">
                    <label for="id_email">{% trans 'Email address:' %}</label>
                    {{ form.email|help_text_as_placeholder }}
                    {{ form.email.errors|as_pointing_label }}
                </div>
                <input class="ui green button" type="submit" value="{% trans 'Reset my password' %}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
